/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 body{
   margin: auto;
   margin-left: 20px;
 }
 #pealdis{
   margin-top:14px;
 }
 .muud_container{
   float: left; 
   max-width: 600px;
 }
 .koostoimed_container{
   max-width: 600px;
   float: left;
 }
 .eitea{
   float: left;
 }
 .t_koostoimed, .muu{
   width: 500px;
   line-height: 1.5em;
   padding-left: 10px;
   padding-right: 10px;
   float: left;
 }
 .muu{
   width: 400px;
 }
 .t_koostoimed{
   border: 2px solid #7d9bb0;
   -moz-border-radius: 10px;
   border-radius: 5px;
   font-weight: normal;
   font-size: 1.1em;
   float: left;
 }
 .pdf_pealkiri{
   background-color: #7d9bb0;
   border-radius: 5px;
   float: left;
   cursor: pointer;
 }
 .muu{
   display: none;
 }
 .pealkiri, .pdf_pealkiri{
   font-weight: bold;
   float:left;
   margin-left: 15px; 
   float: left;
   padding-left: 5px;
   padding-right: 5px;
 }
 .t_atc, .t_toimeaine, .t_spc{
   font-weight: normal;
   font-size: 1.2em;
 }
 .t_spc{
   font-size: 1em;
   color:blue;
   text-decoration: underline;
 }
 #otsing_pealkiri{
   color: #0052CC;
   font-size: 3em;
   margin-top: 8px;
   margin-bottom: 8px;
   margin-left: -3px;
 }
 #btn_kuvakoostoime{
   color: white;
   width: 350px;
   height: 30px;
   background-color: #0066FF;
   border: 2px solid #0052CC;
   -moz-border-radius: 10px;
   border-radius: 5px;
   cursor: pointer;
   vertical-align: middle;
   margin-left: -3px;
   font-size:  1.5em;
 }
 .floatleft{
   float: left;
   margin-left: 10px;
 }
 
 .floatright_h1{
   font-size: 2.4em;
   float: right;
   margin-left: 100px;
   margin-right: 50px;
   margin-top: -40px;
   //position: absolute;
 }
 .h4
 {
   font-size: 0.5em;
   float: right;
   margin-top: -20px;
 }
 .clearboth{
   clear: both;
 }
 
 .soovitabel{
   //display: none;
 }
 .atcSoovitus, .atcSoovitus_kood{
   margin-left: 10px;
   padding-left: 10px;
   vertical-align: top;
 }
 #est, #eng{
   margin-left: 0px;
 }
 
 #est, #eng, .atcSoovitus, .atcSoovitus_kood{
   width: 430px;
 }
 .atcSoovitus_kood, #atcs{
   width: 100px;
   padding-left: 0px;
 }
 
 .esimene, .teine{
   cursor: pointer;
 }
 .esimene{
   background-color: #C2D699;
 }
 .teine{
   background-color: #F5F5FF;
 }
